* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Light";
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    background-color: #03071e;
    text-transform: uppercase;
}

.card {
    background-color: lightgray;
}

.my-shadow {
    box-shadow: rgba(145, 142, 142, 0.6) 0px 5px 15px;
    transition: .2s;
}

.my-shadow:hover {
    box-shadow: rgba(225, 221, 221, 0.6) 0px 5px 15px;
}

.addCart {
    background-color: #023e8a;
}

img {
    max-height: 200px;
}

.test-icon:hover {
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}